/* Utility Classes */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-column {
  flex-direction: column;
}

.hidden {
    display: none;
}

.button--hover:hover {
  background-color: var(--c-B50);
  color: var(--c-B300);
}